In [13]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [2]:
data = pd.read_csv('products_hm_cleaned.csv')
data

,product_id,product_category,product_name,product_price,scrapy_time,style_id,color_id,color_name,Fit,size_number,size_model,cotton,polyester,spandex,elasterell
0,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,black_trashed,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.00
1,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,light_denim_blue_trashed,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.00
2,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,denim_blue,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.00
3,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,black_washed,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.00
4,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,light_denim_blue,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,1004476004,men_jeans_slim,freefit_slim_jeans,49.99,2021-12-17 13:58:54,1004476,4,light_denim_blue,slim_fit,182.0,31_32,0.90,0.0,0.02,0.08
530,1004476004,men_jeans_slim,freefit_slim_jeans,49.99,2021-12-17 13:58:54,1004476,4,denim_blue,slim_fit,182.0,31_32,0.90,0.0,0.02,0.08
531,1004476004,men_jeans_slim,freefit_slim_jeans,49.99,2021-12-17 13:58:54,1004476,4,black_no_fade_black,slim_fit,182.0,31_32,0.90,0.0,0.02,0.08
532,993887004,men_jeans_regular,hybrid_regular_denim_joggers,39.99,2021-12-17 13:58:54,993887,4,black,regular_fit,NaN,NaN,0.79,0.2,0.01,0.00
533,993887004,men_jeans_regular,hybrid_regular_denim_joggers,39.99,2021-12-17 13:58:54,993887,4,denim_blue,regular_fit,NaN,NaN,0.79,0.2,0.01,0.00

In [10]:
query_showroom_schema = """
        CREATE TABLE vitrine (
                 'product_id'            INTEGER,
                 'product_category'      TEXT, 
                 'product_name'          TEXT, 
                 'product_price'         REAL,
                 'scrapy_time'           TEXT, 
                 'style_id'              INTEGER, 
                 'color_id'              INTEGER, 
                 'color_name'            TEXT, 
                 'Fit'                   TEXT,
                 'size_number'           REAL, 
                 'size_model'            TEXT, 
                 'cotton'                REAL, 
                 'polyester'             REAL, 
                 'spandex'               REAL,
                 'elasterell'            REAL
            )
            
"""

In [11]:
conn = sqlite3.connect('hm_db.sqlite')
#cursor = conn.execute(query_showroom_schema)
#conn.commit()
#conn.close()

In [12]:
ls -l

total 540
-rw-rw-r-- 1 joao joao  59962 jan  2 11:57 Cleaning_data.ipynb
-rw-rw-r-- 1 joao joao  16356 jan  5 11:15 database_analysis.ipynb
-rw-r--r-- 1 joao joao   8192 jan  5 11:21 hm_db.sqlite
-rw-rw-r-- 1 joao joao 331054 dez 17 14:03 jeans_data_test.csv
-rw-rw-r-- 1 joao joao   1069 dez  7 13:39 LICENSE
-rw-rw-r-- 1 joao joao  69306 jan  5 11:03 products_hm_cleaned.csv
-rw-rw-r-- 1 joao joao   1300 dez 25 22:36 README.md
-rw-rw-r-- 1 joao joao  54768 dez 17 14:05 webscrapping1.ipynb

In [14]:
conn = create_engine('sqlite:///hm_db.sqlite', echo = False)

In [ ]:
#insert data to table
data.to_sql('vitrine', con=conn, if_exists = 'append', index = False)

In [20]:
#performs query
query = '''
        SELECT * FROM vitrine

'''

df = pd.read_sql_query(query, conn)

In [21]:
df.head()

,product_id,product_category,product_name,product_price,scrapy_time,style_id,color_id,color_name,Fit,size_number,size_model,cotton,polyester,spandex,elasterell
0,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,black_trashed,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.0
1,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,light_denim_blue_trashed,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.0
2,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,denim_blue,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.0
3,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,black_washed,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.0
4,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-12-17 13:58:54,690449,22,light_denim_blue,skinny_fit,184.0,31_32,0.98,0.0,0.02,0.0

In [19]:
#UPDATE

query = '''
    UPDATE vitrine
    SET product_category = 'tshirt'
    WHERE product_id = 636207006

'''

#DROP TABLE

query = '''
    DROP TABLE vitrine
'''

#ALTER TABLE

query = '''ALTER TABLE vitrine
        RENAME TO vitrine_two'''


#CREATE INDEX

query = '''
        CREATE INDEX idx_product_id
        ON vitrine_two ( product_id )
'''


conn = sqlite3.connect('hm_db.sqlite')
cursor = conn.execute(query)
conn.commit()