In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [4]:
path = '/home/joao/projetos/dsaodev/projcode/executables/'
database_name = 'database_hm.sqlite'
conn = create_engine('sqlite:///' + path + database_name, echo = False)

In [5]:
query = '''
    SELECT * FROM vitrine
    '''

In [6]:
df_raw = pd.read_sql(query, con = conn)

In [7]:
df_raw

,product_id,style_id,color_id,product_name,color_name,fit,product_price,size_number,size_model,cotton,polyester,spandex,elasterell,scrapy_datetime
0,1024256001,1024256,001,slim_jeans,black,slim_fit,19.99,185,31_32,0.99,0.65,0.01,0.0,2022-01-16 20:00:04
1,1024256002,1024256,002,slim_jeans,light_denim_blue,slim_fit,19.99,None,None,0.99,0.65,0.01,0.0,2022-01-16 20:00:04
2,1024256003,1024256,003,slim_jeans,light_denim_blue,slim_fit,19.99,189,31_32,0.99,0.65,0.01,0.0,2022-01-16 20:00:04
3,1024256004,1024256,004,slim_jeans,denim_blue,slim_fit,19.99,None,None,0.99,0.65,0.01,0.0,2022-01-16 20:00:04
4,1024256005,1024256,005,slim_jeans,dark_blue,slim_fit,19.99,None,None,0.99,0.65,0.01,0.0,2022-01-16 20:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,0974597006,0974597,006,slim_tapered_jeans,dark_gray,slim_fit,29.99,None,None,1.00,0.00,0.02,0.0,2022-01-16 20:00:04
110,0974597001,0974597,001,slim_tapered_jeans,denim_blue,slim_fit,29.99,186,31_32,1.00,0.00,0.01,0.0,2022-01-16 20:00:04
111,0974597002,0974597,002,slim_tapered_jeans,denim_blue,slim_fit,29.99,None,None,1.00,0.00,0.01,0.0,2022-01-16 20:00:04
112,0974597003,0974597,003,slim_tapered_jeans,black,slim_fit,22.99,None,None,0.98,0.65,0.02,0.0,2022-01-16 20:00:04
113,0974597005,0974597,005,slim_tapered_jeans,light_denim_blue,slim_fit,22.99,187,32_32,1.00,0.00,0.01,0.0,2022-01-16 20:00:04

In [31]:
df_raw['cotton'].unique()

array([0.99, 1.  , 0.98, 0.77, 0.78, 0.79, 0.8 ])

# Data Dimension

In [8]:
df01 = df_raw.copy()

In [10]:
print(f'Number of rows {df01.shape[0]}')
print(f'Number of columns {df01.shape[1]}')

Number of rows 114
Number of columns 14

# Data Types

In [12]:
df01['scrapy_datetime'] = pd.to_datetime(df01['scrapy_datetime'])

In [13]:
df01.dtypes

product_id                 object
style_id                   object
color_id                   object
product_name               object
color_name                 object
fit                        object
product_price             float64
size_number                object
size_model                 object
cotton                    float64
polyester                 float64
spandex                   float64
elasterell                float64
scrapy_datetime    datetime64[ns]
dtype: object

# NaN Identification

In [16]:
df01.isna().sum()

product_id          0
style_id            0
color_id            0
product_name        0
color_name          0
fit                 0
product_price       0
size_number        72
size_model         77
cotton              0
polyester           0
spandex             0
elasterell          0
scrapy_datetime     0
dtype: int64

In [17]:
df01.isna().sum()/df01.shape[0]

product_id         0.000000
style_id           0.000000
color_id           0.000000
product_name       0.000000
color_name         0.000000
fit                0.000000
product_price      0.000000
size_number        0.631579
size_model         0.675439
cotton             0.000000
polyester          0.000000
spandex            0.000000
elasterell         0.000000
scrapy_datetime    0.000000
dtype: float64

# Missing Values Substitution

In [18]:
df_aux01 = df01.drop(columns = ['size_number', 'size_model']).dropna()
df_aux01.shape

(114, 12)

# Data Description

In [20]:
type(df01)

pandas.core.frame.DataFrame

In [22]:
num_attributes = df01.select_dtypes(include = ['int64', 'float64'])
cat_attributes = df01.select_dtypes(include = ['int64', 'float64', 'datetime64[ns]'])

In [25]:
d1 = num_attributes.describe()
d2 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d3 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T